$shopListMain: '.shopListMain';

#{$shopListMain} {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - #{$headerHeight});
    top: $headerHeight;
    left: 0;

    &__wrapper {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__content {
        position: relative;
        display: block;
        width: 100%;
        padding-left: 12px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    &__list {
        @include clearfix;
    }

    &__list,
    &__item {
        @include list-reset;
    }

    &__item {
        border-bottom: 1px solid $color-gallery-dark;

        @include f-last(1) {
            border: 0;
        }
    }

    &__add {
        position: fixed;
        display: block;
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 15px;
        border: none;
        appearance: none;
        outline: none;
        background-color: $color-sunglo;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyIDQyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MiA0MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+PHBvbHlnb24gcG9pbnRzPSI0MiwxOSAyMywxOSAyMywwIDE5LDAgMTksMTkgMCwxOSAwLDIzIDE5LDIzIDE5LDQyIDIzLDQyIDIzLDIzIDQyLDIzICIgZmlsbD0iI0ZGRkZGRiIvPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);
        background-size: 16px 16px;
        border-radius: 50%;
        box-shadow: 0 0 2px 0 rgba($color-sunglo, .8);
    }
}
