$shopListMain: '.shopListMain';

#{$shopListMain} {
    padding-left: 12px;

    &__list {
        @include clearfix;
    }

    &__list,
    &__item {
        @include list-reset;
    }

    &__item {
        border-bottom: 1px solid $color-gallery;

        @include f-last(1) {
            border: 0;
        }
    }
}
