include ../shopListHeader/shopListHeader
include ../shopListMain/shopListMain
include ../shopListFooter/shopListFooter

mixin shopList
    +b('section').shopList(touch-action="none")
        +shopListHeader

        +shopListMain

        +shopListFooter
