include ../shopListHeader/shopListHeader
include ../shopListMain/shopListMain
include ../shopListFooter/shopListFooter

mixin shopList
    +b('section').shopList
        +shopListHeader

        +shopListMain({
            list: [
                {
                    title: 'Жидкое мыло'
                },
                {
                    title: 'Каша'
                },
                {
                    title: 'Хлеб'
                },
                {
                    title: 'Молоко'
                },
                {
                    title: 'Кефир'
                },
                {
                    title: 'Сыр'
                },
                {
                    title: 'Сметана'
                },
                {
                    title: 'Бананы'
                },
                {
                    title: 'Туалетная бумага'
                },
                {
                    title: 'Зубная паста'
                },
                {
                    title: 'Гель для душа'
                },
                {
                    title: 'Порошок'
                },
                {
                    title: 'Хлопья'
                },
                {
                    title: 'Мясо'
                },
                {
                    title: 'Курица'
                }
            ]
        })

        +shopListFooter
