mixin shopListItem(data)
    - var shopListItemData = data ? data : {};

    - shopListItemData.title = shopListItemData.title ? shopListItemData.title : 'Название товара';

    +b('div').shopListItem
        +e('div').wrapper
            +e('div').content!= shopListItemData.title

            +e('div').footer
                +e('ul').list
                    +e('li').item
                        +e('a').btn(href="#", class="shopListItem__btn_type_complete")

                    +e('li').item
                        +e('a').btn(href="#", class="shopListItem__btn_type_edit")

                    +e('li').item
                        +e('a').btn(href="#", class="shopListItem__btn_type_photo")
