mixin shopListHeader
    +b('header').shopListHeader
        +e('div').wrapper
            +e('div').content
                +e('div').box
                    +e('div').title
                        +e('h1')!= "Покупки"
